//media query control
@mixin mQ($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin btnActive($color, $bg-color) {
    &:hover,
    &:focus {
        color: $color;
        outline: dashed currentColor;
        outline-offset: .35em;
        background-color: $bg-color;
    }
}