@use "../base";
@use "../utils";

.close-img {
    display: none;
}

.btn-menu-control {
    align-items: center;
    background-color: transparent;
    border: none;
    z-index: 1;
    position: relative;

    @include utils.btnActive(base.$clr-light-vermillion, inherit);

    @include utils.mQ(45rem) {
        display: none;
    }
}

.btn-logo {
    @include utils.btnActive(base.$clr-light-vermillion, inherit);
}

.btn-link {
    background-color: base.$clr-light-vermillion;
    color: base.$clr-almost-white;
    font-size: base.$fs-14;
    font-weight: 700;
    line-height: base.$line-height-3;
    text-decoration: none;
    text-transform: uppercase;
    padding: .75rem 1.9rem;
    letter-spacing: 4.375px;
    display: inline-block;

    @include utils.btnActive(base.$clr-almost-white, base.$clr-dark-space-blue);

    &:hover,
    &:focus {
        outline: dashed base.$clr-dark-space-blue;
    }

    @include utils.mQ(45rem) {
        text-align: center;
        max-width: 12.5rem;
    }

    @include utils.mQ(63rem) {
        grid-area: 2/2;
    }
}