@use "../utils";

.close-img {
    display: none;
}

.btn-menu-control {
    align-items: center;
    background-color: transparent;
    border: none;
    z-index: 1;
    position: relative;

    @include utils.mQ(45rem) {
        display: none; 
    }
}