@use "../base";
@use "../utils";

.aside {
    margin-block: 2rem;

    @include utils.mQ(63rem) {
        margin-block: 5rem;
    }
}

.aside-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: base.$spacer1 * 1.5;
}

.aside-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.aside-img-container {
    flex: 1 1 25%;
}

.aside-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside-content {
    flex: 1 1 75%;
}

.aside-item-num {
    font-size: base.$fs-32;
    color: base.$clr-silver;
    font-weight: 700;
    line-height: 1;
}

.aside-item-title {
    font-size: base.$fs-18;
    font-weight: 800;

    @include utils.mQ(63rem) {
        margin-block: 0.75rem;
    }
}

.aside-item-link {
    text-decoration: none;
    color: base.$clr-dark-space-blue;
    line-height: 1.3;

    &:hover,
    &:focus {
        color: base.$clr-light-vermillion;
        outline: dashed currentColor;
        outline-offset: .35em;
    }
}

.aside-content-text {
    font-size: base.$fs-15;
    font-weight: 400;
    color: base.$clr-gunmetal;
}