@use "../base";
@use "../utils";

.nav {
    position: relative;

  
}

.main-nav {
    position: absolute;
    right: -1000px;
    width: 69vw;
    height: 100vh;
    transition: all 0.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding-inline-start: 1.5rem;

    @include utils.mQ(45rem) {
        width: 100%;
        position: relative;
        height: auto;
        flex-direction: row;
        right: 0;
    }
}

.show-nav {
    right: -1rem;
    transition: all 0.5s ease-out;
    top: -(base.$spacer1 * 2);
    background-color: base.$clr-almost-white;

    @include utils.mQ(45rem) {
        top: 0;
        right: 0;
    }
}

.nav-link {
    color: base.$clr-dark-space-blue;
    font-size: base.$fs-18;
    text-decoration: none;
    font-weight: 400;
    @include utils.mQ(45rem) {
        font-size: base.$fs-15;
    }
}