@use 'sass:math';
@use "../base";
@use "../utils";

.app {
    margin-inline: base.$spacer1;
    margin-block: base.$spacer1 * math.div(28, 16);
}

#root {
    overflow-x: hidden;
}

.overflow-y {
    overflow-y: hidden;
    @include utils.mQ(45rem) {
       overflow-y: auto;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: base.$clr-dark-space-blue;
    opacity: 0;
    @include utils.mQ(45rem) {
        width: 0; 
        height: 0;
    }
}

.show-overlay {
    opacity: 0.5;
    @include utils.mQ(45rem) {
       opacity: 0;
    }
}