@use 'sass:math';
@use "../base";
@use "../utils";

.app {
    padding-inline: base.$spacer1;
    margin-block: base.$spacer1 * math.div(28, 16);
    max-width: 69.4rem;

    @include utils.mQ(45rem) {
        margin-inline: auto;

    }
}

#root {
    overflow-x: hidden;
}

.overflow-y {
    overflow-y: hidden;
    position: relative;

    &::before {
        position: absolute;
        width: 100vw;
        height: 100vh;
        content: "";
        opacity: 0.5;
        background: base.$clr-dark-space-blue;
    }

    @include utils.mQ(45rem) {
        overflow-y: auto;

        &::before {
            width: 0;
            height: 0;
            opacity: 0;
        }
    }
}

.main {
    @include utils.mQ(63rem) {
        display: flex;
        gap: 2rem;
    }
}

.main-title {
    font-size: base.$fs-40;
    font-weight: 800;
    line-height: 1;
}

.main-text {
    font-size: base.$fs-15;
    margin-block: base.$spacer1;
    color: base.$clr-gunmetal;
    line-height: base.$line-height-3;
}

.hero-content {
    margin-block: base.$spacer1 * 2;
}

/*
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: base.$clr-dark-space-blue;
    opacity: 0;
    @include utils.mQ(45rem) {
        width: 0; 
        height: 0;
    }
}

.show-overlay {
    opacity: 0.5;
    @include utils.mQ(45rem) {
       opacity: 0;
    }
} */